name: Demoblaze Regression Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge] 
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cypress Run
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.browser }}
          headed: false

      - name: Upload Screenshots on Failure
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots-${{ matrix.browser }}
          path: cypress/screenshots

      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: mochawesome-report-${{ matrix.browser }}
          path: cypress/reports 